{{#completed}}
    <a href="{{url}}" class="list-group-item list-group-item-success">
        {{#assignee}}
            <img alt="{{title}}" class="img-rounded" src="{{assignee}}" width="16" height="16" />&nbsp;
        {{/assignee}}
        <s>{{title}}</s>
        <span class="glyphicon glyphicon-new-window pull-right"></span>
    </a>
{{/completed}}
