<div class="list-group">
    {{#active}}
        {{#paused}}
            <a href="{{url}}" target="_blank" class="list-group-item list-group-item-warning">
                {{>index/partials/assignee}} <span class="font-italic small">{{title}}</span>
                <span class="glyphicon"></span>
                <span class="glyphicon glyphicon-new-window pull-right"></span>
                {{>index/partials/progress}}
            </a>
        {{/paused}}
        {{^paused}}
            <a href="{{url}}" target="_blank" class="list-group-item list-group-item-info">
                {{>index/partials/assignee}} {{title}}
                <span class="glyphicon"></span>
                <span class="glyphicon glyphicon-new-window pull-right"></span>
                {{>index/partials/progress}}
            </a>
        {{/paused}}
    {{/active}}
</div>
