<div class="list-group">
    {{#queued}}
        <a href="{{url}}" class="list-group-item list-group-item-danger">
            <span class="glyphicon glyphicon-question-sign"></span> {{title}}
            <span class="glyphicon glyphicon-new-window pull-right"></span>
        </a>
    {{/queued}}
</div>
