{{< layout }}
    {{$ title }}Error{{/ title }}
    {{$ content }}
        <h1>Exception</h1>
        <div class="alert alert-danger" role="alert"><b>{{code}}</b> {{message}}</div>
        <pre>{{exception}}</pre>
    {{/ content }}
{{/ layout }}
